
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;

}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 140px;
    height: 208vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: rgb(238, 237, 234);
}

.sidebar:hover{
    width: 240px;
    transition: 0.5s;

}

.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    margin-left: 26px;
}

.menu li:hover{
    background: rgb(236, 224, 203);
}

.active{
    background: rgb(236, 224, 203);
}

.menu a{
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a span{
    overflow: hidden;

}

.menu a i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.main--content{
    position: relative;
    background: rgb(248, 247, 246);
    width: 100%;
    padding: 1rem;

}



.header--wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(236, 224, 203);
    border-radius: 10px;
    padding: 10px 2rem;
    margin: 1rem;
    
}



.header--title{
    color: rgb(37, 33, 30) ;
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search--box{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(28, 24, 24);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 750px;
    padding: 4px 12px;
}

.search--box input{
    background: transparent;
    padding: 10px;
}

.search--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search--box i:hover{
    transform: scale(1.2);


}

.dropdown-sidebar {
    position: relative;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}
  
.dropdown-sidebar:hover .dropdown-menu {
    display: block;
  
}


/*card*/


.card--container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;

}

.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.card--wrapper a{
    text-decoration: none;
    color: #1d1a1a;
}

.main--title{
    color: black;
    padding-bottom: 10px;
    font-size: ;

}

.mains--card{
    background:rgb(237, 194, 124);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    
}
.mains--card:hover{
    transform: translateY(-5px);
}

.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.amount{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 12px;
    font-weight: 200;
}

.value{
    font-size: 24px;
    font-family: "Courier New", "Courier New", Courier,monospace;
    font-weight: 600;
}

.card--container i{
    color: #332f2f;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: rgb(243, 231, 200);
}

.card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

/*donation*/

.tabular--wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}


.table-container{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background:rgb(237, 194, 124);
    color: #1d1a1a;
}

th{
    padding: 15px;
    text-align: left;
}

tbody{
    background: #f2f2f2;

}

td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: #fff;
}

tfoot{
    background: rgb(237, 194, 124);
    font-weight: bold;
    color: #fff;
}

tfoot td{
    padding: 15px;
    color: #1a1717;
}

.table-container button{
    color: rgb(129, 90, 18);
    background: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .main--content {
      position: absolute;
      left: 140px;
      right: 0;
      transition: all 0.5s linear;
    }


    .search--box{
        background: rgb(255, 255, 255);
        border-radius: 15px;
        color: rgb(28, 24, 24);
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 0px;
        padding: 4px 12px;
    }

    .main--content{
        width: 80%;
    }

    
    
    
  
    .sidebar:hover + .main--content {
      left: 270px;
      transition: all 0.5s linear;

    }

 
   

    .table-container {
        position: relative
        max-height: 80vh; 
        overflow-y: scroll;
    }

   
    .sidebar:hover{
    width: 280px;
    transition: 0.5s;
    
    }

    .header--wrapper {
        flex-wrap: wrap; 
    }
    
    .header--wrapper img {
        display: none; 
        
    }
   
     

   
    
   


}
  